/*
*
* Catppuccin Macchiato palette
* Maintainer: rubyowo
*
*/

@define-color base   #24273a;
@define-color mantle #1e2030;
@define-color crust  #181926;

@define-color text     #cad3f5;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b8c0e0;

@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;

@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;

@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color sapphire  #7dc4e4;
@define-color sky       #91d7e3;
@define-color teal      #8bd5ca;
@define-color green     #a6da95;
@define-color yellow    #eed49f;
@define-color peach     #f5a97f;
@define-color maroon    #ee99a0;
@define-color red       #ed8796;
@define-color mauve     #c6a0f6;
@define-color pink      #f5bde6;
@define-color flamingo  #f0c6c6;
@define-color rosewater #f4dbd6;

* {
    font-family: MesloLGS NF;
    font-size: 20px;
    border-radius: 15px;
}

window {
    margin: 4px;
    background-color: @base;
    border: 4px solid @pink;
    border-radius: 15px;
}

#outer-box {
    margin: 4px;
    border-radius: 15px;
}

#input {
    margin: 20px 10px 20px 10px;
    background-color: @base;
    color: @text;
    border-radius: 8px;
    padding: 5px;
   border: 1px solid @pink; 
}

#inner-box {
    margin: 0px 10px 50px 10px;
    border-radius: 0px;
    background-color: @base;
    color: @text;
}

#scroll {
    margin: 0px 0px;
    border-radius: 8px;
    border: none;
}

#text {
    margin: 2px;
}

#entry {
    border: none;
    border-radius: 8px;
    background-color: @base;
    color: @text;
}


#entry:selected {
    color: @base;
    background-color: @pink;
}
